<h1 class="text-5xl font-extrabold dark:text-white">Receptionist Dashboard</h1>

<p class="text-4xl font-bold dark:text-white my-5">Welcome, <%= current_user.email %>!</p>

<div class="flex gap-5 my-10">
  <button type="button" class="px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <%= link_to "Create New Patient", new_patient_path, class: "btn btn-primary" %>
  </button>

  <button type="button" class="px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <%= link_to "View All Patients", patients_path, class: "btn btn-secondary" %>
  </button>
</div>
