<h1>Receptionist Dashboard</h1>

<p>Welcome, <%= current_user.email %>!</p>

<div>
  <%= link_to "Create New Patient", new_patient_path, class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "View All Patients", patients_path, class: "btn btn-secondary" %>
</div>

